
dist/

front/.idea/

front/target/

server/.idea/

server/target/

.env

server/Cargo.lock

front/Cargo.lock

.idea/

node_modules/

target/

package-lock.json

package.json

tailwind.css

Cargo.lock
